<% content_for :page_title do %>
  Log In
<% end %>

<div id="" class="padding">

<p>Sign in through one of these services:</p> 
  
<a href="/auth/twitter" class="auth_provider">  
  <%= image_tag "authbuttons/twitter_64.png", :size => "64x64", :alt => "Twitter" %><br/>Twitter
</a>  