<div id="page">
			
  <div class="top"></div>

    <div class="content">
		
      <div class="header page">
  	    <h1>Login</h1>
      </div>

      <div id="" class="padding">

      <p>Sign in through one of these services:</p> 

      <div class="auth_provider">
        <a href="/auth/twitter" class="auth_provider">  
          <%= image_tag "authbuttons/twitter_64.png", :size => "64x64", :alt => "Twitter" %><br/>Twitter
        </a>
      </div>  

      <div class="auth_provider">
        <a href="/auth/facebook" class="auth_provider">  
          <%= image_tag "authbuttons/facebook_64.png", :size => "64x64", :alt => "Facebook" %><br/>Facebook
        </a>
      </div>

      <div class="auth_provider">
        <a href="/auth/google" class="auth_provider">  
          <%= image_tag "authbuttons/google_64.png", :size => "64x64", :alt => "Google" %><br/>Google
        </a>
      </div>

      </div>

      <div class="clear"></div>

    </div>

    <div class="bottom"></div>

</div>