<% content_for :page_title do %>
  Listing recipes
<% end %>

<div id="" class="padding">

<table>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe.title, recipe %></td>
    <% if current_user %>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td><%= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user %>
  <%= link_to 'New Recipe', new_recipe_path %>
<% end %>

</div>