<% content_for :page_title do %>
  Listing recipes
<% end %>

<div id="" class="padding">

  <table>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.title, user_recipe_path(:user_id => recipe.user_id, :id => recipe.id) %></td>

      <% if current_user %>
        <td><%= link_to 'Edit', edit_user_recipe_path(:user_id => current_user.id, :id => recipe.id) %></td>
        <td><%= link_to 'Destroy', user_recipe_path(:user_id => current_user.id, :id => recipe.id), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>

    </tr>
  <% end %>

  </table>

  <br />

  <% if current_user %>
    <%= link_to 'New Recipe', new_user_recipe_path(:user_id => current_user.id) %>
  <% end %>
  
</div>
