<% content_for :page_title do %>
  Welcome
<% end %>

<div id="" class="padding">

<% if current_user %>
  <%= link_to 'New Recipe', new_user_recipe_path(:user_id => current_user.cached_slug) %>
<% end %>

</div>
